<%= form_with model: @fornecedore, html: { autocomplete: "off" } do |f| %>
  <%= render partial: 'fornecedores/form/header', locals: {f:} %>
  <div class=' mx-20 gap-x-6'>
    <%= render partial: 'fornecedores/form/basic_data', locals: {f:} %>
  </div>
<% end %>