<%= form_with model: @produto, url: @produto.persisted? ? produto_path(@produto) : produtos_path, method: @produto.persisted? ? :patch : :post, html: { autocomplete: "off" } do |f| %>
  <%= render partial: 'produtos/form/header', locals: { f: } %>

  <div class=' mx-20 gap-x-6'>
    <%= render partial: 'produtos/form/basic_data', locals: { f: } %>
  </div>
<% end %>
