<%= form_with model: @venda, url: @venda.persisted? ? venda_path(@venda) : vendas_path, method: @venda.persisted? ? :patch : :post, html: { autocomplete: "off" } do |f| %>
  <%= render partial: 'vendas/form/header', locals: { f: } %>

  <div class=' mx-20 gap-x-6'>
    <%= render partial: 'vendas/form/basic_data', locals: { f: } %>
  </div>
<% end %>
