<%= form_with model: @funcionario, url: @funcionario.persisted? ? funcionario_path(@funcionario) : funcionarios_path, method: @funcionario.persisted? ? :patch : :post, html: { autocomplete: "off" } do |f| %>
  <%= render partial: 'funcionarios/form/header', locals: { f: } %>

  <div class=' mx-20 gap-x-6'>
    <%= render partial: 'funcionarios/form/basic_data', locals: { f: } %>
  </div>
<% end %>
